body{
            background-image: url(index2.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            justify-content: center;
            padding-top: 180px;
            
        }
        input{
            width: 60%;
            height: 11%;
            font-size: 21.4px;
            text-align: center;
            border-radius: 7px;
            border: 0.2px solid white;
           }
        .btn{
            width: 38%;
            height: 13%;
            font-size: 23.8px;
            text-align: center;
            background: linear-gradient(to bottom right, blue 10%, red 89%);
            border-radius: 6.8px;
            border: 0.2px solid orange;
            color:white;
        }
        div{
            background:linear-gradient(to bottom right, orange 10%, red 89%); ;
            width:34%;
            height: 70%;
        }
        